.admonition.closed {
    padding: 15px 15px 5px 15px;
}
.note.details {
    background: #ffffff80;
    color: #555;
}
.note.details .admonition-title {
    cursor: pointer;
    color: #777;
}
.note.details .admonition-title:hover {
    color: #555;
}
.note.details.closed .admonition-title::before {
    content: "▼";
}
.note.details .admonition-title::before {
    content: "▲";
}
.note.details.closed > *:not(.admonition-title) {
    display: none;
}
