.bacon-locations
.ignore
/*-deploy.sh
/.config
/bench.sh
/broot_*.zip
/build
/compile.sh
/fix-win-toolchain.sh
/glassbench_*.db
/press
/releases
/screens
/target
/termux-deploy.sh
/trav
/website/site
deploy.sh
dev.log
.DS_Store
/zigbuild
