.bacon-locations
.ignore
/build-scripts/*-deploy.sh
/d.sh
/.config
/bench.sh
/broot_*.zip
/build
/build-cache
/.build-cache
/build-scripts/_local.sh
/compile.sh
/build-scripts/fix-win-toolchain.sh
/glassbench_*.db
/press
/releases
/screens
/target
/build-scripts/termux-deploy.sh
/trav
/website/site
deploy.sh
!/build-scripts/deploy.sh
dev.log
.DS_Store
/zigbuild
/.intentionally-empty-file.o
