/bench.sh
/compile.sh
/termux-deploy.sh
dev.log
deploy.sh
/*-deploy.sh
/fix-win-toolchain.sh
/releases
/target
/broot_*.zip
/screens
/website/site
/build
/trav
/press
/glassbench_*.db
.bacon-locations
